@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.bg {
  -webkit-border-image: url("../src/assets/calendar.png") 12 repeat;
  padding: 20px;
  height: 600px;
}
